/* 
             [if user has not sign up or login this the code ]*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Nunito:wght@700&family=PT+Sans:wght@700&family=Poppins:wght@500&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

*{
    margin: 0;
    padding:0; 
    box-sizing:border-box;
}
body{
    height:100vh;
    width: 100vw;
}
 .head{
     display: grid;
    width: 100%;
    height: 90px;
    background:rgb(243, 243, 243);
    grid-template-columns: repeat(2,300px);
    grid-column-gap: 750px;
}
#container-fluid h3 span{
    color:#FF9900;
}
#project-name{
    font-family: 'Nunito', sans-serif;
    margin-left:10px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 5px;
}
#logo{
    margin-left:50px;
}
#search-icon{
    margin-left: 5px;
}
.collapse .mb-2 .nav-item .active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #F17505;
} 
/* nav */
#body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:30px 0 100px  100px;
}
.nav-item{
    margin-left:20px;
}
.nav-item > a{
    font-weight: 700;

}

#link{
    margin-left:200px;
}
#form{
    margin-right:150px;
}
#cart-logo{
    position: absolute;
    right:100px; 
}
#info-mid span{
    color:rgb(222,96,0);
}
.body h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 59px;
}
.grid{
    width:400px;
    height:350px;
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3,1fr);
}

.cook{
    width:650px;
    height: 550px;
    z-index:-1;
    filter:blur(0.7px);
    background-color: light-gray;
}
.grid{
    width:600px;
    height: 150px;
    margin-right: 120px;
    
}
.grid > .card{
    margin-right: 30px;
    margin-bottom: 20px;
}
.card-body a svg{
    color: #fff;
    margin-bottom: 4px;
}
.body p{
    font-weight: 600;
    font-size: 17px;
    line-break: loose;
}
#intro{
    margin-bottom:40px;
}
#middle p{
    color:rgb(107,107,107);
    margin-bottom:25px;
}
#middle #middle-btn{
    background-image:linear-gradient(to bottom, #F99B3D, #F5902C,#F08214);
    color:#fff;
    font-family: 'Nunito', sans-serif;
    width:130px;
    height:50px;
    font-size: 18px;
}
#middle #order-process{
    color:rgb(54,54,54);
    margin-top:13px;
}
#orders{
    display: flex;
    width:490px;
}
#orders #play-info{
    margin:15px 35px 0 35px;
    color:#F08112;
}
img{
    width:60px;
    height:60px;
}
.crispy{
    width: 60px;
    height:40px;

}
.card > .pizza-head{
    margin-bottom: 20px;
}
#head-question{
    font-family: 'Barlow', sans-serif;
    font-family: 'Nunito', sans-serif;
    
    font-weight:700;
    margin:0 0 20px 38%;

}
#choose-us{
    display: grid;
    width: 100%;
    height:100px;
    grid-template-columns: repeat(3,1fr);
   
}
#choose-us div{
    margin:25px 0 0 90px
}
#info-choose{
    margin-top:150px;
    width: 100%;
    height:100px;
    margin-bottom: 100px;
}
#choose-us h6{
    font-weight:700;
    margin:0 0 10px 35px;
}
#choose-us p{
    font-weight: 500;
    
}
#easy-order svg{
    color:#FF7A00;
    margin:0 0 14px 75px;
}
#fast-delivery #fast-logo{
    color: #0C7CE2;
    width:28px;
    height:22px;
    margin:0 0 14px 100px;
}
#fast-delivery h6{
    margin-left: 65px;
}
#fast-delivery p{
    margin-left: 28px;
}
#easy-order h6{
    margin-left:51px;
 }
#secure h6{
   margin-left:73px;
}
#secure #symbol{
    color: #00AD1C;
    width:28px;
    height:25px;
    margin:0 0 14px 115px;
}
#choose-us p span{
    
    margin-left: 10px;
}
#choose-us p #span1{
    
    margin-left: 25px;
}
#choose-us p #span2{
    
    margin-left: 6px;
}
#choose-us p #span3{
    
    margin-left: 16px;
}
#choose-us p #span4{
    
    margin-left: 30px;
}

/* discount-info */
#discount{
    margin-top: 80px;
    width:97%;
    height:650px;
}
#discount img{
    position: absolute;
    min-height:700px;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:-2;
    opacity:0;
    margin:0;
}
#discount #off{
    position:absolute;
    left:56%;
    top:185%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    font-weight: 700;
}
#discount #off span{
    font-size:64px;
    font-weight: 700;
}
/* discount button */
#discount #discount-shop{
    position:absolute;
    left:57%;
    top:210%;
    color:#fff;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 700;
    width:100px;
    opacity:0;
    border-radius:20px;
    background-image:linear-gradient(to right, #FF8400,#FFB700);
}
#premium{
    width:100%;
    height:200px;
    background-color: #1A2647;
    color:#fff;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    margin:160px 0 150px 0;

}
#premium-part{
    margin:10px 0 60px 0;
}
#premium-part #premium-title{
    font: size 28px;
    font-family: 'Nunito', sans-serif;
    margin:50px 0 0 80px;
}
#premium-part #premium-title #pre-text{
    font-size:23px;
    color:#fff;
}
#premium-part #premium-title #color-title{
    color:#F89501;
    font-family: 'Nunito', sans-serif;
}
#premium-part #premium-title #span{
    font-size:14px
}
#line{
   background-color:#454A58;
   position: absolute;
   margin:-70px 0 0px 350px;
   width:2px;
   height:120px;
}
#premium p{
    margin:40px 0 0 0px;
}
#premium-buttons{
   margin:40px 0 0 20px;
   display: flex;
   flex-direction: column;
}
#premium-buttons #join-now{
    color:#fff;
    font-family: 'Barlow', sans-serif;
    width:120px;
    border-radius:20px;
    font-size:15px;
    font-weight: 700;
    margin-bottom:20px;
    background-image:linear-gradient(to right, #FF8400,#FFB700);
}
#premium-buttons #more-info{
    color:#000;
    background-color:#fff;
    font-family: 'Barlow', sans-serif;
    width:120px;
    border-radius:20px;
    font-size:15px;
    font-weight: 700;
}
#footer{
    width:100%;
    height:250px;
    display:grid;
    margin-bottom: 10px;
    grid-template-columns: repeat(2,1fr);    
}
#best{
    margin:6px 0 0 250px;
}
#Links{
    display:grid;
    margin-right: 250px;
    grid-template-columns: repeat(3,1fr); 
}
#best h5{
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
}
#best h5 span{
    color:#F89501;
}
#link-section1{
    width:150px;
    display: flex;
    flex-direction: column;
}
#best p{
    font-weight: 300;
    word-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
} 
#link-section1, #link-section2, #link-section3{
    display: flex;
    flex-direction: column;
    width:150px;
    margin-right: 50px;
}
#link-section2{
    width:130px;
}

#Links div a{
    color:#44547B;
    font-size:16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}
#link-section1, #link-section2, #link-section3 p{
    color:#000;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}
/* footer2 */
#footer2{
    margin-bottom: 20px;
}
#social{
    width:100%;
    height:30px;
    display:flex;
    flex-direction: row;
    margin-bottom: 5px;
}
#social #insta{
    margin-left: 255px;
    color:#F6009C;
    cursor: pointer;
}
#social svg{
    margin: 0 20px 0px 0;
}
#social #fb{
    color:#3257A0;
    cursor: pointer;
}
#social #in{
    color:#0073B1;
    cursor: pointer;
}
#social #twit{
    color:#1C96E8;
    cursor: pointer;
}
#line-end{
    margin:0 0 5px 240px;
    width:790px;
    height:2px;
    background-color: #6A7187;
}
#copyright{
    margin-left: 38%;
    font-size: 15px;
    font-weight: 700;   
    font-family: 'Barlow', sans-serif;
}




